.container-navbar {
    /* border: 1px solid blue; */
  

    display:flex;
    flex-direction: column;

    -webkit-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.61);
}


.nav-top {
    flex:1;
    padding: 10px 0px 10px 10px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    
/* 
    -webkit-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.61); */

}

.nav-top-left {
    flex:5;
}

.nav-top-right {
    flex:3;

    display: flex;
    direction: row;
    align-items: flex-end;
}

.nav-top-left-text {
    color: orange;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav-top-right-input {
    margin: 0 auto;
    margin-left:5px;


    border: none;
    background: rgb(245, 245, 245);
    border-bottom: 2px solid orange;
    height: 25px;

    
}

.nav-top-right-btn {
    margin: 0 auto;

    height: 28px; width: 70px; background: rgb(37, 88, 241); color: white;

    border:none; border-radius: 5px;

}

/*******************/
.nav-bottom {
    flex: 1;
    /* border:2px solid orange; */

    /* align-items: center;
    text-align: center; */

    background: rgb(253, 153, 2); border-bottom: 10px solid rgb(211, 55, 35);
}

.nav-bottom-li {
    display: inline;

     margin-right: 1px;
}

.nav-bottom-li a {
    background: rgb(211, 55, 35); padding: 10px; border-radius: 0px;

    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}

.nav-bottom-ul {

margin: 30px 0% 10px 20%;



}